<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <header> <h1 style=text-align:center; >  Notre Page d'inscription  </h1> </header>
                    
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                        <div class="panel panel-default" style="box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); ">
                                <div class="panel-heading" style="font-size:14pt;">
                                    Inscrivez un nouvel Elève
                                </div>
                                <div class="panel-body">
                                       
                                       <form action="/"  method="post" >
            
            
                                    <div class="alert alert-info">
                                        Remplissez correctement tous les champs SVP !...
                                    </div>
                                    <hr>
                                    <label>Nom de l'eleve: </label>
                                    <input type="text" class="form-control " id="titre_emission" name="input" required="required" >
                                    <br/>
            
                                    <label>classe de l'élève : </label>
                                    <input type="text" class="form-control " id="nom_animateur" name="input1" required="required" >
                                    <br/>
            
                                    <label>Etablissement de l'élève</label> : </label>
                                    <input type="text" class="form-control " id="heure_emission" name="input2" required="required" >
                                    <br/>
            
                                    <label>Date d'inscription de l'élève : </label>
                                    <input type="text" class="form-control " id="date_emission" placeholder="jj/mm/aaaa" name="input3" required="required" >
                                    <br/>  
            
                                         
                               <input type="submit" id="submit" name="envoie" value="Enregistrer" class="btn btn-success btn-block envs " style="background-color:#00aced; border:solid 1px #00aced;"  />
                                
                                </form>
                               
                                </div>
                             </div>
                </div>
            </div> 
        </div>
    </div>

 
    
</body>
</html>